body {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-family: "Courier New", serif;
    font-weight: bold
}

#pGen{
    color: #ffffff;
}

input[type="text"] {
    outline: none;
    background: transparent;
    font-family: "Courier New", serif;
    color: white;
    border: none;
}