
html, body {margin: 0; padding:0;height: 100%}
body {
    
    background-image: url("../images/salle-tv-éteint.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#background_menu {
    height: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#background_menu a {
    display: block;
    
    height: 100%;
}

#tvAcceuil {
    position: absolute;
    width: 18%;
    height: 20%;
    
    top: 75%;
    left: 42%;
}
#tvPoster {
    position: absolute;
    width: 18%;
    height: 20%;
    top: 78%;
    left: 65%;
    
}
#tvVideo {
    position: absolute;
    width: 22%;
    height: 25%;
    top: 28%;
    left: 35%;
    
}

#tvAbout {
    position: absolute;
    width: 10%;
    height: 30%;
    top: 25%;
    left: 60%;
    
}
#tvMakingOf{
    position: absolute;
    width: 14%;
    height: 25%;
    top: 28%;
    left: 19%;
    

}
#tvGalerie{
    position: absolute;
    width: 17%;
    height: 35%;
    top: 22%;
    right: 10%;
    

}