*{margin: 0;padding: 0; width: 100%; }

#main_home {
    position: relative;
    height: 100%;
}

#modal_shell{
    position: absolute;
    
    top: 0;
height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    font-family: 'Courier New', Courier, monospace;
    
}

.modal_contents_shell {

    width: 50%;
    padding: 1%;
    height: auto;
    margin : 0 auto;
    background-color: black;
}
.shell_container {
    height: 80%;
    
    color: white;
}
input[type="text"] {
    outline: none;
    background: transparent;
    font-family: "Courier New", serif;
    color: white;
    border: none;
 
}
label {
    width: 3%;
}
#pGen{
    color: #ffffff;
    
}
#p1 {
    width: 0;
}
.shell_container div {
    display:flex;
}