html, body {
    margin: 0; padding: 0;position: relative; background-color: #000000; font-size: 16;
}

main {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 14px;
    font-family: "Courier New", serif;
    font-weight: bold;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}
main div {
    padding: 1%;
}

#pGen{
    color: #ffffff;
}

input[type="text"] {
    outline: none;
    background: transparent;
    font-family: "Courier New", serif;
    color: white;
    border: none;
}